.imagediv {
    margin: auto;
    width: 50%;
    text-align: center;
}

.imagediv img {
    height: 40px;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.characters-container {
    text-align: center;
}

.characters-list-item {
    display: inline-block;
    /*shows last two characters on the left instead of in center */
    float: left;
    margin: 5px;
}

.characters-link {
    width: 50px;
    height: 50px;
}

.characters-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.item img {
    max-width: 100%;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.item:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}