<div class="container">
    <div class="imagediv">
        <img src="http://kuroganehammer.com/logo/KH%20LOGO1.png" />
    </div>
    <div>
        <label>Order:</label>
        <select class="green" [(ngModel)]="characterSortOption">
            <option *ngFor="let sortOption of characterSortOptions" [ngValue]="sortOption">{{sortOption.name}}</option>
        </select>
    </div>
    <div *ngIf="characters" class="characters-container col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
        <ul>
            <li (contextmenu)="viewDetails(character)" *ngFor="let character of characters" class="box fade-in one characters-list-item">
                <div class="characters-link item top">
                    <a target="_blank" href="{{character.fullUrl}}">
                        <img class="characters-image" [src]="character.thumbnailUrl" title="{{character.displayName}}" />
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <hr>
    <div *ngIf="showDetails" class="character-details">
        <button (click)="toggleDetails()">X</button>
        <app-character-data-viewer [character]="selectedCharacter"></app-character-data-viewer>
    </div>
    <br>
    <span class="footer left">Feedback? FrannSoftDev@outlook.com</span>
    <span class="footer right">Powered by the <a target="_blank" href="https://github.com/Frannsoft/FrannHammer">FrannHammer API</a></span>
</div>