<div class="container" *ngIf="character">
    <div class="movement-data">
        <ul>
            <li *ngFor="let movement of movements">
                <span>{{movement.name}}</span>
            </li>
        </ul>
    </div>
    <hr>
    <div class="move-data">
        <ul>
            <li *ngFor="let move of moves" class="details-list-item" (click)="toggleItem(move)">
                <span>{{move.name}}</span>
                <div *ngIf="move.isShown">
                    <table class="table table-condensed table-striped table-hover">
                        <tr>
                            <td>HitboxActive</td>
                            <td>{{move.hitboxActive}}</td>
                        </tr>
                        <tr>
                            <td>FAF</td>
                            <td>{{move.firstActionableFrame}}</td>
                        </tr>
                        <tr>
                            <td>BaseDamage</td>
                            <td>{{move.baseDamage}}</td>
                        </tr>
                        <tr>
                            <td>Angle</td>
                            <td>{{move.angle}}</td>
                        </tr>
                        <tr>
                            <td>BKB/WKBK</td>
                            <td>{{move.baseKnockBackSetKnockback}}</td>
                        </tr>
                        <tr>
                            <td>Landing Lag</td>
                            <td>{{move.landingLag}}</td>
                        </tr>
                        <tr>
                            <td>AutoCancel</td>
                            <td>{{move.autoCancel}}</td>
                        </tr>
                        <tr>
                            <td>KBKG</td>
                            <td>{{move.knockbackGrowth}}</td>
                        </tr>
                    </table>
                </div>

        </ul>
    </div>
</div>